---
title: FaST Platform | About the FaST project
layout: page
description: FaST is an EU-supported digital service platform where capabilities for agriculture, environment and administrative simplification are made available to farmers, EU Member State Paying Agencies, farm advisors,and researchers through a user-friendly experience.
url: /
post_image: /assets/images/340173-Aargau_Switzerland.jpg
tag:
    - eu
    - european union
    - digital
    - platform
    - agriculture
    - environment
    - simplification
    - farmer
    - farm
    - advisors
    - researchers
    - user-friendly
categories: 
date: 2020-03-09
---

<section class="bg-dark text-white">
    <div class="container py-5">
        <h1 class="mb-4">{{ site.data.about.title }}</h1>
    </div>
</section>

<div class="container pt-5">
    {% for context in site.data.about.context %}
        <div class="row my-4">
            <div class="col-md-3">
                <img src="{{ context.picture }}" alt="{{ context.title | strip_html | truncatechars:30 }}" class="img-thumbnail w-100 mb-4">
            </div>
            <div class="col">
                <h2>{{ context.title }}</h2>
                <p class="lead">{{ context.text }}</p>
            </div>
        </div>
        <hr class="my-5">
    {% endfor %}
</div>

<div class="container pb-5">
    {% for intro in site.data.about.introduction %}
        <div class="row">
            <div class="col">
                {% for text in intro.text %}
                <p class="lead">
                    {{ text }}
                </p>
                {% endfor %}
            </div>
            {% if intro.picture %}
                <div class="col-md-3 text-center">
                    <img class="mb-4" src="{{ intro.picture }}" alt="{{ intro.text | strip_html | truncatechars:30 }}">
                </div>
            {% endif %}
        </div>
    {% endfor %}
</div>

