---
title: FaST | Application
layout: page
description: FaST is an EU-supported digital service platform where capabilities for agriculture, environment and administrative simplification are made available to farmers, EU Member State Paying Agencies, farm advisors,and researchers through a user-friendly experience.
url: /
post_image: /assets/images/340173-Aargau_Switzerland.jpg
tag:
    - eu
    - european union
    - digital
    - platform
    - agriculture
    - environment
    - simplification
    - farmer
    - farm
    - advisors
    - researchers
    - user-friendly
categories: 
date: 2020-03-23
---

<section class="bg-dark text-white">
    <div class="container py-5">
        <h1 class="mb-4">FaST - Farmer Application</h1>
        <p class="lead">
        FaST Farmer is a mobile application available on iOS and Android as well as on a web version.
        </p>
    </div>
</section>

<div class="container py-5">
    <div class="w-100 mt-5 d-flex justify-content-center flex-wrap">
        <h4>Links to the FaST Farmer application will come soon.</h4>
    </div>
</div>