---
title: FaST Platform | Digital services for EU Agriculture
layout: page
description: FaST is an EU-supported digital service platform where capabilities for agriculture, environment and administrative simplification are made available to farmers, EU Member State Paying Agencies, farm advisors,and researchers through a user-friendly experience.
url: /
post_image: /assets/images/340173-Aargau_Switzerland.jpg
tag:
    - eu
    - european union
    - digital
    - platform
    - agriculture
    - environment
    - simplification
    - farmer
    - farm
    - advisors
    - researchers
    - user-friendly
categories:
date: 2020-03-09
---

<!-- HEADLINES -->

<div id="myCarousel" class="carousel slide overflow-hidden w-100 position-relative" data-ride="carousel" style="height: 60vh;">
    <video
        src="/assets/videos/fast-trailer.mp4"
        type="video/mp4"
        poster="/assets/images/fast-trailer-frame.jpg"
        playsinline loop muted autoplay
        class="position-absolute"
        style="min-height: 100%; min-width: 100%; top: 50%; left: 50%; transform: translate(-50%, -50%);">
    </video>
    <ol class="carousel-indicators">
        {% for headline in site.data.headlines.items %}
            <li data-target="#myCarousel" data-slide-to="{{ forloop.index0 }}" {% if forloop.first %}class="active"{% endif %}></li>
        {% endfor %}
    </ol>
    <div class="carousel-inner">
        {% for headline in site.data.headlines.items %}
            <div class="carousel-item border-0 {% if forloop.first %}active{% endif %}" style="height: 24rem;">
                <div class="row carousel-caption">
                    <div class="col-md-9 p-4 text-left" style="background-color: rgba(35, 54, 68, 0.7); height: auto !important;">
                        <h2 class="h1">{{ headline.title }}</h2>
                        <p>{{ headline.description }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>

<!-- WHAT IS FAST -->

<section id="whatisfast-intro" class="bg-dark text-white">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-5">
                <a href="/whatisfast" class="text-white"><h2 class="h1">{{ site.data.whatisfast.title }}</h2></a>
                <p class="lead">Supported by the European Commission’s <a href="https://ec.europa.eu/info/food-farming-fisheries/key-policies/common-agricultural-policy/future-cap_en" class="text-white"><u>DG Agriculture and Rural Development</u></a>, by the <a href="https://ec.europa.eu/growth/sectors/space_en" class="text-white"><u>EU Space Programme</u></a> (DG DEFIS) and by the EU <a href="https://ec.europa.eu/isa2/home_en" class="text-white"><u>ISA<sup>2</sup> Programme</u></a> (DG DIGIT), the FaST digital service platform will make available capabilities for agriculture, environment and sustainability to EU farmers, Member State Paying Agencies, farm advisors and developers of digital solutions.</p>
                <p class="lead">The vision is for the FaST to become a world-leading platform for the generation and re-use of solutions for sustainable and competitive agriculture based on space data (<a href="https://www.copernicus.eu/en" class="text-white"><u>Copernicus</u></a> and <a href="https://ec.europa.eu/growth/sectors/space/galileo_en" class="text-white"><u>Galileo</u></a>) and other data public and private datasets. The modular platform will support EU agriculture and the Common Agricultural policy by also enabling the use of solutions based on machine learning applied to image recognition, as well as the use and reuse of IoT data, various public sector data, and user generated data.'</p>
            </div>
            <div class="col-md-7">
                <h2 class="h1">FaST Stage 2</h2>
                <img src="assets/images/app_screenshot.png" style="float: right; width: 200px; margin-left: 30px; margin-bottom: 30px;"/>
                <p class="lead">We are happy to announce that Stage 2 of the FaST project will expand the reach of the platform to the farmers of:</p>
                <ul>
                  <li class="lead"><img src="assets/images/wallonia.png" height="20" class="mr-2" style="vertical-align: baseline;">Wallonia (Belgium)</li>
                  <li class="lead"><img src="assets/images/bulgaria.png" height="20" class="mr-2" style="vertical-align: baseline;">Bulgaria</li>
                  <li class="lead"><img src="assets/images/greece.png" height="20" class="mr-2" style="vertical-align: baseline;">Greece</li>
                  <li class="lead"><img src="assets/images/romania.png" height="20" class="mr-2" style="vertical-align: baseline;">Romania</li>
                  <li class="lead"><img src="assets/images/slovakia.png" height="20" class="mr-2" style="vertical-align: baseline;">Slovakia</li>
                </ul>
                <p class="lead">Kick-off meetings are being organized within the month of June, and this second stage is expected to be completed by the end of May 2022.</p>
                <p class="lead">The Paying Agencies that participated in the first stage of the project (Andalucia <img src="assets/images/andalucia.svg" height="16">, Castilla y Leon <img src="assets/images/castilla_y_leon.svg" height="16">, Estonia <img src="assets/images/estonia.svg" height="16"> and Piemonte <img src="assets/images/piemonte.svg" height="16">) will continue to be supported in the running of their platform, throughout the course of Stage 2.
            </div>
        </div>
    </div>
</section>

<section id="v1-demo" class="bg-accent text-white">
    <div class="container py-5">
      <h2 class="h1">FaST v1.0 release</h2>
      <p class="text-white" style="opacity: 0.5;">March 30th 2020</p>
      <p>We are happy to announce that FaST v1.0 has been released to the currently participating regions of the project.</p>
      <p>This v1.0 mobile application embarks the following features in a user-friendly interface:
      <ul>
        <li>Maps overlaying farm data on GIS layers</li>
        <li>Copernicus/Sentinel imagery: RGB+NDVI</li>
        <li>Campaign management with import of IACS/GSAA farmer data</li>
        <li>Fertilization recommendation</li>
        <li>Geo-tagged photos</li>
        <li>Two-way communications</li>
        <li>Basic weather/climate</li>
      </ul>
      <p>The platform also provides an Administration Portal where the Paying Agency can access the regional data, configuration and user profiles and a secured API mechanism to remotely connect to the datastore.</p>
      <p>Paying Agencies, <a href="#contact" style="color: white; text-decoration: underline;">contact us</a> to obtain test credentials to trial the app and be granted read-access to the administration portal.</p>
      <div style="text-align: center; margin-top: 30px; margin-bottom: 20px;"><iframe width="840" height="472" src="https://www.youtube.com/embed/dGpURntKFtA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
      <p class="lead text-white" style="text-align: center;">You can also download the <a href="assets/docs/2021.03.30 - FaST Year 1 Closing Meeting.pdf">slides</a> of the FaST Year 1 closing meeting.</p>
    </div>
</section>

<section id="whatisfast-details">
    <div class="container py-5">
        <div class="w-100 d-flex justify-content-center flex-wrap">
            {% for buzzword in site.data.whatisfast.buzzwords %}
                <a
                    class="btn d-block mb-3 mr-3 p-3 badge-pill bg-primary text-white shadow {% unless forloop.last %}mr-3{% endunless %}"
                    style="font-size: 1.1rem;"
                    href="/whatisfast#{{ buzzword.id }}">{{ buzzword.title }}
                </a>
            {% endfor %}
        </div>
        <div class="text-center mt-5">
            <img class="w-100" src="{{ site.data.whatisfast.poster }}" alt="FaST poster"/>
        </div>
    </div>
</section>

<!-- WHY FAST -->

<section class="bg-accent text-white" id="whyfast">
    <div class="container py-5">
        <a href="/whyfast" class="text-white"><h2 class="h1">{{ site.data.whyfast.title }}</h2></a>
        <p class="lead mt-4">{{ site.data.whyfast.introduction }}</p>
        <div class="w-100 mt-5 d-flex justify-content-center flex-wrap">
            {% for stakeholder in site.data.whyfast.stakeholders %}
                <a href="/whyfast#{{ stakeholder.id }}" class="text-decoration-none card shadow mr-4 mb-4 border-0 text-accent" style="width: 14rem;">
                    <!--<img class="card-img-top" src="{{ stakeholder.picture }}" alt="{{ stakeholder.title }}">-->
                    <div class="card-body text-center">
                        <div class="d-flex flex-column justify-content-center" style="height: 11rem;">
                            <img src="{{ stakeholder.icon }}" style="width: 40%;" class="mb-4 d-block mx-auto" alt="{{ stakeholder.title | strip_html }}">
                            <h4 class="text-accent d-block">{{ stakeholder.title }}</h4>
                        </div>
                        <hr>
                        {% for subtitle in stakeholder.subtitles %}
                            <p class="lead text-muted mb-1">
                                {{ subtitle }}
                            </p>
                        {% endfor %}
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
</section>

<!-- ABOUT -->

<section class="bg-dark text-white" id="about">
    <div class="container py-5">
        <a href="/about" class="text-white"><h2 class="h1 mb-5">{{ site.data.about.title }}</h2></a>
        {% assign context = site.data.about.context | first %}
        <div class="row my-4">
            <div class="col-md-3">
                <img src="{{ context.picture }}" alt="{{ context.title | strip_html }}" class="float-left mr-4 mb-4 img-thumbnail position-relative w-100" style="width: 12rem;">
            </div>
            <div class="col-md-9">
                <h3>{{ context.title }}</h3>
                <p>{{ context.text | truncatewords: 50 }}</p>
            </div>
        </div>
        <div class="text-center mt-4">
            <a class="btn btn-link btn-lg text-white" href="/about">Read more...</a>
        </div>
    </div>
</section>

<!-- SCREENSHOTS -->

<section class="bg-light" id="screenshots">
    <div class="container py-5">
        <h2 class="h1 mb-4">{{ site.data.screenshots.title }}</h2>
        <p class="lead">{{ site.data.screenshots.introduction }}</p>
        <div class="d-flex flex-wrap justify-content-center mt-5">
            {% for screenshot in site.data.screenshots.app_screenshots %}
            <div class="card shadow mb-4 mr-4" style="width: 14rem;">
                <img src="{{ screenshot.picture }}" class="card-img-top" alt="{{ screenshot.caption | strip_html }}">
                <div class="card-body">
                    <p class="card-text">{{ screenshot.caption }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="d-flex flex-wrap justify-content-center">
            {% for screenshot in site.data.screenshots.map_screenshots %}
            <div class="card shadow mb-4 mr-4" style="width: 30rem;">
                <img src="{{ screenshot.picture }}" class="card-img-top" alt="{{ screenshot.caption | strip_html }}">
                <div class="card-body">
                    <p class="card-text">{{ screenshot.caption }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- TIMELINE -->

<div class="container p-5" id="timeline">
    <h2 class="h1 mb-5 text-center text-accent">{{ site.data.timeline.title }}</h2>
    <p class="lead text-center">{{ site.data.timeline.introduction }}</p>
    <div class="row">
        <div class="col-sm-6 mx-auto">
            <ul class="timeline">
                {% assign sorted = site.data.timeline.elements | sort: "date_from" | reverse %}
                {% for element in sorted %}
                    <li class="pb-1">
                        {% if element.divider %}
                            <div class="position-relative border-top text-secondary" style="top: 8px; margin-left: -20px; padding-left: 20px; font-weight: 300; font-size: 1.1rem; font-style: italic;">{{ element.title }}</div>
                        {% else %}
                            <div>
                                {% if element.date_from %}<span class="text-accent">{{ element.date_from | date: "%a, %b %d %Y" }}</span>{% endif %}{% if element.date_to %}<span class="text-accent"> - {{ element.date_to | date: "%a, %b %d %Y" }}</span>{% endif %}
                                <h6 class="mt-1">
                                {% if element.picture %}<img src="{{ element.picture }}" alt="{{ element.title | strip_html }}" style="height: 20px;" class="mr-2 float-left">{% endif %}
                                {% if element.link %}
                                    <a href="{{ element.link }}" class="text-accent">{{ element.title }}</a>
                                {% else %}
                                    <span>{{ element.title }}</span>
                                {% endif %}
                                </h6>
                            </div>
                            {% if element.text %}<p>{{ element.text }}</p>{% endif %}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<!-- CONTACT -->

<section class="bg-primary text-white" id="contact">
    <div class="container py-5 text-center">
        <h2 class="h1">{{ site.data.contact.title }}</h2>
        <p class="lead mt-5">{{ site.data.contact.introduction }}</p>
        <div class="card-deck justify-content-around flex-wrap mt-5">
            {% for contact in site.data.contact.contacts %}
            <div class="card text-dark shadow mb-3 text-left p-3 d-flex flex-column" style="width: 18rem;">
                <div class="row">
                    <div class="col-4">
                        <img src="/assets/images/{{ contact.picture }}" alt="{{ contact.name | strip_html }}" class="float-left mr-2 mb-2 rounded" style="width: 4rem;">
                    </div>
                    <div class="col-8">
                        <b class="d-block">{{ contact.name }}</b>
                        <p class="small text-muted">{{ contact.department }}</p>
                    </div>
                </div>
                <a class="btn btn-primary w-100 mt-auto" href="mailto:{{ contact.email | encode_email }}">{{ contact.email }}</a>
            </div>
            {% endfor %}
        </div>
        <div class="bg-white px-4 py-3 my-5 rounded shadow">
            {% include freshdesk_form.html %}
        </div>
    </div>
</section>
