---
title: FaST Platform | Privacy Policy
layout: page
description: FaST is an EU-supported digital service platform where capabilities for agriculture, environment and administrative simplification are made available to farmers, EU Member State Paying Agencies, farm advisors,and researchers through a user-friendly experience.
url: /
post_image: /assets/images/340173-Aargau_Switzerland.jpg
tag:
    - eu
    - european union
    - digital
    - platform
    - agriculture
    - environment
    - simplification
    - farmer
    - farm
    - advisors
    - researchers
    - user-friendly
categories: 
date: 2020-03-09
---

<section class="bg-dark text-white">
    <div class="container py-5">
        <h2 class="h1">FaST - Privacy Policy</h2>
    </div>
</section>

<div class="container py-5">

<p class="small text-muted mb-4">
Last updated: February 21, 2020
</p>
<p>
The FaST Farmer App is part of the FaST Platform, developed and operated by
PwC France, on behalf of the European Commission.
This privacy policy explains how we collect, use, disclose, and safeguard your
information when you visit our portals or use our mobile application.
</p>
<p>
Please read this privacy policy carefully. IF YOU DO NOT AGREE WITH THE TERMS
OF THIS PRIVACY POLICY, PLEASE DO NOT ACCESS THE APPLICATION.
</p>

<h2 class="mt-4">Topics:</h2>

<ul>
    <li><a href="#what">What data do we collect?</a></li>
    <li><a href="#how">How do we collect your data?</a></li>
    <li><a href="#use">How will we use your data?</a></li>
    <li><a href="#store">How do we store your data?</a></li>
    <li><a href="#rights">What are your data protection rights?</a></li>
    <li><a href="#external">Privacy policies of external websites</a></li>
    <li><a href="#changes">Changes to our privacy policy</a></li>
    <li><a href="#contact">How to contact us</a></li>
</ul>

<h2 class="mt-4"><a id="what">What data do we collect?</a></h2>

<p>FaST Farmer collects the following data:</p>

<ul>
    <li>Personal identification information (Name, email address, phone number, postal address, etc.)</li>
    <li>Farm related information (parcels, livestock, crops, etc.)</li>
    <li>Geolocation</li>
    <li>Device information (Device ID number, model, operating system, etc.)</li>
    <li>Preferences (push notifications, communication supports, etc.)</li>
</ul>

<h2 class="mt-4"><a id="what">How do we collect your data?</a></h2>

<p >We collect your data from different sources either directly provided by you or by third-parties when you:</span></p>

<ul>
    <li>Log in using the Identification Provider of your country / region</li>
    <li>Authorize FaST Farmer to access to certain features from your mobile device: geolocation, camera, push notifications, etc.</span></li>
    <li>Authorize FaST Farmer to request some data from third-parties, for instance, the data related to your farm (parcels, livestock, etc.). You can find the list of third-parties below.</span></li>
    <li>Voluntarily update any information related to you such as your preferences.</span></li>
</ul>

<p >FaST Farmer may receive your data indirectly from the following sources:</span></p>

<ul>
    <li>SPID – Italian Identity Provider</li>
</ul>

<h2 class="mt-4"><a id="how">How will we use your data?</h2>

<p>Having accurate information about you permits us to provide you with a smooth, efficient, and customized experience. Specifically, we may use information collected about you via FaST Farmer to:</p>

<ul>
    <li>Create and manage your account</li>
    <li>Increase the efficiency and operation of FaST Farmer</li>
    <li>Enhance your user experience</li>
    <li>Provide you agronomic advice</li>
</ul>

<h2 class="mt-4"><a id="store">How do we store your data?</h2>

<p >FaST Farmer securely stores your data in a cloud hosted by a DIAS - Data and Information Access Services. While we have taken reasonable steps to secure the personal information you provide to us, please be aware that despite our efforts, no security measures are perfect or impenetrable, and no method of data transmission can be guaranteed against any interception or other type of misuse.</p>

<h2 class="mt-4"><a id="rights">What are your data protection rights?</h2>

<p >FaST Farmer would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:</p>
<ul>
    <li>The right to <b>access</b> – You have the right to request FaST Farmer for copies of your personal data. We may charge you a small fee for this service.</li>
    <li>The right to <b>rectification</b> – You have the right to request that FaST Farmer correct any information you believe is inaccurate. You also have the right to request FaST Farmer to complete the information you believe is incomplete.</li>
    <li>The right to <b>erasure</b> – You have the right to request that FaST Farmer erase your personal data, under certain conditions.</li>
    <li>The right to <b>restrict processing</b> – You have the right to request that FaST Farmer restrict the processing of your personal data, under certain conditions.</li>
    <li>The right to <b>object to processing</b> – You have the right to object to FaST Farmer’s processing of your personal data, under certain conditions.</li>
    <li>The right to <b>data portability</b> – You have the right to request that FaST Farmer transfer the data that we have collected to another organization, or directly to you, under certain conditions.</li>
</ul>
<p>
If you make a request, we will come back to you no later than one monthfrom the time of your request.
If you would like to exercise any of the above rights, please contact us at 
<a href="mailto:privacy@fastplatform.eu">privacy@fastplatform.eu</a>
</p>

<h2 class="mt-4"><a id="external">Privacy policies of external websites</h2>

<p >The FaST mobile application may contain links
to external websites. Our privacy policy applies only to our mobile application,
so if you click on a link to an external website, you should read their privacy
policy.</p>

<h2 class="mt-4"><a id="changes">Changes to our privacy policy</h2>

<p >FaST keeps its privacy policy under regular review and places any updates on this web page.</p>

<h2 class="mt-4"><a id="contact">How to contact us</h2>

<p >If you have any questions about our privacy policy, the data we hold on you,
or you would like to exercise one of your data protection rights, please do not
hesitate to contact us at:
<a href="mailto:privacy@fastplatform.eu">privacy@fastplatform.eu</a>
</p>

</div>
</section>