---
title: FaST Platform | What is FaST?
layout: page
description: FaST is an EU-supported digital service platform where capabilities for agriculture, environment and administrative simplification are made available to farmers, EU Member State Paying Agencies, farm advisors,and researchers through a user-friendly experience.
url: /
post_image: /assets/images/340173-Aargau_Switzerland.jpg
tag:
    - eu
    - european union
    - digital
    - platform
    - agriculture
    - environment
    - simplification
    - farmer
    - farm
    - advisors
    - researchers
    - user-friendly
categories: 
date: 2020-03-09
---

<section class="bg-dark text-white">
    <div class="container py-5">
        <h2 class="h1 mb-4">{{ site.data.whatisfast.title }}</h2>
        <p class="lead">{{ site.data.whatisfast.introduction }}</p>
    </div>
</section>

<div class="container py-5">
    {% for buzzword in site.data.whatisfast.buzzwords %}
        <div class="row my-4">
            <div class="col-md-3">
                <a id="{{ buzzword.id }}" style="position: relative; top: -160px;"></a>
                <img src="{{ buzzword.picture }}" alt="{{ buzzword.title | strip_html }}" class="mr-4 mb-4 img-thumbnail">
            </div>
            <div class="col-md-9">
                <h2>{{ buzzword.title }}</h2>
                <p class="lead">{{ buzzword.text }}</p>
            </div>
        </div>
        <hr class="my-5">
    {% endfor %}    
    <div class="text-center">
        <img class="w-100" src="{{ site.data.whatisfast.poster }}" alt="FaST poster" />
    </div>
</div>
