---
title: FaST Platform | Why FaST?
layout: page
description: FaST is an EU-supported digital service platform where capabilities for agriculture, environment and administrative simplification are made available to farmers, EU Member State Paying Agencies, farm advisors,and researchers through a user-friendly experience.
url: /
post_image: /assets/images/340173-Aargau_Switzerland.jpg
tag:
    - eu
    - european union
    - digital
    - platform
    - agriculture
    - environment
    - simplification
    - farmer
    - farm
    - advisors
    - researchers
    - user-friendly
categories: 
date: 2020-03-09
---

<section class="bg-accent text-white">
    <div class="container py-5">
        <h2 class="h1 mb-4">{{ site.data.whyfast.title }}</h2>
        <p class="lead">{{ site.data.whyfast.introduction }}</p>
    </div>
</section>

<div class="container py-5">
    <div class="d-flex flex-wrap justify-content-center align-items-start">
        {% for stakeholder in site.data.whyfast.stakeholders %}
        <div class="card mr-4 mb-5 shadow w-75">
            <a id="{{ stakeholder.id }}" style="position: relative; top: -160px;"></a>
            <!--<div style="background-image: url({{ stakeholder.picture}}); background-size: cover; height: 18rem; background-position: center center;"
                 class="position-relative">
                 <a href="https://unsplash.com/{{ stakeholder.picture_attribution }}"
                    target="_blank"
                    class="text-muted position-absolute" 
                    style="font-size: 0.2rem; right: 2px; bottom: -2px; transform: translateY(100%);">{{ stakeholder.picture_attribution }}</a>
            </div>-->
            <div class="card-body">
                <div class="row mb-4">
                    <div class="col-md-2">
                        <img src="{{ stakeholder.icon }}" class="mb-4 w-100" alt="{{ stakeholder.title | strip_html }}">
                    </div>
                    <div class="col">
                        <h3 class="card-title">{{ stakeholder.title }}</h3>
                        {% for intro in stakeholder.introduction %}
                            <p class="card-text">{{ intro }}</p>
                        {% endfor %}
                    </div>
                </div>
                <ul class="list-group list-group-flush">
                    {% for benefit in stakeholder.benefits %}
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-md-2 text-right">
                                    <img src="/assets/images/{{ benefit.icon }}" alt="{{ benefit.title | strip_html }}" style="opacity: 0.7;" class="w-25 mt-1">
                                </div>
                                <div class="col">
                                    <b class="mb-1">{{ benefit.title }}</b>
                                    <p>{{ benefit.text }}</p>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

