<footer class="bg-dark text-white py-5" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <h5 class="mt-3">{{ site.data.footer.title }}</h5>
                <p>{{ site.data.footer.description }}</p>
            </div>
            <div class="col-md-6 col-lg-2">
                <h5 class="mt-3">Pages</h5>
                <div>
                    {% for navigation in site.data.navigation.items %}
                        <div><a href="{{ navigation.url }}" class="text-white">{{ navigation.text }}</a></div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <img src="/assets/images/european_commission.svg" height="50" alt="European Commission logo" class="mt-3 mr-3">
        <img src="/assets/images/pwc-logo-white.svg" height="50" alt="PwC logo" class="mt-3">
        <p class="mt-3">{{ site.data.footer.copyright }}</p>
        {% for credit in site.data.footer.credits %}
          <p class="small text-muted mb-1 mt-3">{{ credit }}</p>
        {% endfor %}
    </div>

</footer>