<script type="text/javascript" src="https://s3.amazonaws.com/assets.freshdesk.com/widget/freshwidget.js"></script>
<style type="text/css" media="screen, projection">
	@import url(https://s3.amazonaws.com/assets.freshdesk.com/widget/freshwidget.css); 
</style>

<iframe 
    title="{{ site.data.contact.form.forrm_title }}" 
    class="freshwidget-embedded-form"
    id="freshwidget-embedded-form"
    src="https://fastplatformeu.freshdesk.com/widgets/feedback_widget/new?&widgetType=embedded&formTitle={{ site.data.contact.form.form_title | url_encode }}&submitTitle={{ site.data.contact.form.submit_title | url_encode }}&submitThanks={{ site.data.contact.form.submit_thanks | url_encode }}&screenshot={{ site.data.contact.form.screenshot }}&searchArea={{ site.data.contact.form.search_area }}&captcha={{ site.data.contact.form.captcha }}" scrolling="no" height="500px" width="100%" frameborder="0" >
</iframe>
