<header class="fixed-top w-100">
    <div class="bg-white px-3 text-dark w-100 d-flex align-items-center justify-content-start position-relative" style="height: 60px !important; z-index: 1001 !important; overflow: visible;">
        <a href="https://ec.europa.eu/info/index_en" style="margin-top: 33px;" class="d-block mr-3">
            <img src="/assets/images/european_commission.svg" style="height: 64px;" alt="European Commission logo">
        </a>
        <a href="/" class="d-block d-flex justify-content-start align-items-center h-100 text-dark text-decoration-none">
            <img class="d-block mx-3" src="/assets/images/logo.svg" style="height: 60%" alt="FaST logo">
            <h2 class="mr-3 mb-0 d-block">{{ site.data.navigation.title }}</h2>
            <div class="pl-3" style="font-size: 1.5vw; font-weight: 100 !important; border-left: 1px solid silver;">{{ site.data.navigation.subtitle }}</div>
        </a>
    </div>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark pr-3" style="height: 60px !important;">
        <div class="navbar-brand d-flex align-items-center h-100" style="margin-left: 60px;">
            <a href="https://www.copernicus.eu/" class="d-block ml-3" style="height: 90%"><img src="/assets/images/copernicus-logo-white.svg" class="h-100" alt="Copernicus logo"></a>
            <a href="https://www.gsa.europa.eu/european-gnss/galileo/galileo-european-global-satellite-based-navigation-system" class="d-block ml-3" style="height: 90%"><img src="/assets/images/galileo.svg" class="h-100" alt="Galileo logo"></a>
            <a href="https://ec.europa.eu/isa2/home_en" class="d-block ml-3"  style="height: 90%"><img src="/assets/images/ISA2-logo-white.svg" class="h-100" alt="ISA2 logo"></a>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto bg-dark">
            {% for link in site.data.navigation.items %}
            <li class="nav-item ml-2">
                <a class="nav-link {{ link.disabled }}" href="{{ link.url }}" target="{{ link.target }}">{{ link.text }}</a>
            </li>
            {% endfor %}
        </ul>
        </div>
    </nav>
</header>
