$accent: #A5BE00;
$accent-dark: #233644;

.bg-accent {
  background-color: $accent;
}

.bg-accent-dark {
  background-color: $accent-dark;
}

.text-accent {
  color: $accent;
}

.text-accent-dark {
  color: $accent-dark;
}

.featurette-title {
  font-weight: 500;
  line-height: 1;
  letter-spacing: -.05rem;
  margin-top: 4rem !important;
}

.featurette-description {
  font-size: 1.7rem;
  font-weight: 300;
}


/* RESPONSIVE CSS
  -------------------------------------------------- */

@media (min-width: 40em) {

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-title {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-title {
    margin-top: 7rem;
  }
}

/* Timeline */

ul.timeline {
  list-style-type: none;
  position: relative;
}

ul.timeline:before {
  content: ' ';
  background: $accent;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}

ul.timeline>li {
  margin: 20px 0;
  padding-left: 20px;
  margin-bottom: 20px;
}

ul.timeline>li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid $accent;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}