
$blue: #176891;
$purple: rgb(229, 54, 244);
$indigo: #322b37;
$pink: rgb(244, 54, 240);
$red: #f44336;
$orange: rgb(185, 113, 44);
$yellow: #b98a2c;
$green: #3c9a64;
$teal: rgb(44, 185, 170);
$cyan: rgb(44, 180, 185);
$info: $indigo;
$font-family-sans-serif: Open Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$secondary: #B0B3BB;
$font-size-base: 0.9rem;
$border-radius: 0.15rem;
$border-radius-lg: .2rem;
$gray-400: rgb(206, 216, 223);
$gray-300: rgb(217, 224, 230);
$gray-200: rgb(234, 237, 240);
$gray-100: rgb(242, 244, 247);
$gray-700: rgb(89, 111, 128);
$gray-800: rgb(61, 83, 102);
$gray-900: #233644;
$card-cap-bg: null;
$card-border-radius: 6px;
$card-spacer-y: 0.6rem;
$card-spacer-x: 1.8rem;
$black: rgb(16, 17, 17);
$card-border-color: rgba($black, 0.05);
$gray-600: rgb(106, 131, 150);
$gray-500: rgb(170, 183, 194);
$paragraph-margin-bottom: 0.7rem;
$line-height-lg: 2;
$border-radius-sm: .1rem;
$input-btn-padding-x: 0.9rem;
$input-btn-padding-x-lg: 1.4rem;
$table-bg-level: -5;
$alert-bg-level: -4;
$alert-color-level: 8;
$navbar-dark-color: rgba($white, .9);
$navbar-dark-hover-color: rgba($white, .5);
$navbar-light-color: rgba($black, .9);
$navbar-light-hover-color: rgba($black, .5);
$headings-font-family: B612;
$dark: $gray-900;