---
layout: default
---
{% include navbar.html navbar=page.navbar %}

<div style="margin-top: 120px">
    {% if content %}
        {{ content }}
    {% else %}
        <h3>The Page Is Empty </h3>
    {% endif %}
</div>

{% include footer.html %}
